<div class="product__payment-installments">
  <span class="buy-now-text">Buy Now Pay Later</span>
  <span>As low as {{ product.price | divided_by: 4 | money_without_trailing_zeros }} in installments with</span>
    <a class="affirm-site-modal" data-page-type="banner" style="cursor: pointer!important;">{%- render 'icon-affirm' -%}</a>
    <span>or </span>
    <a class="afterpay-site-modal">{%- render 'icon-afterpay' -%}</a>
  <div class="afpay">
    <square-placement 
      data-mpid="9a19aa45-325f-4acc-b4f1-afacd753480d"
      data-placement-id="e261a468-0b6c-4259-8b9c-952970755d54"
      data-page-type="product"
      data-amount="{{ product.price | money }}"
      data-currency="USD"
      data-consumer-locale="{Replace with consumer locale variable}"
      data-item-skus="{{ product.sku }}"
      data-item-categories="{Replace with category variable}"
      data-is-eligible="true"
      style="display: inline-block!important;">
    </square-placement>
  </div>
</div>
