{% assign page_link_out = settings.special_leather_tooltip_link %}

{% if settings.special_leather_tooltip_linkout_anchor %}
    {% assign page_link_out = page_link_out.url | append: settings.special_leather_tooltip_linkout_anchor %}
{% endif %}

<div class="special-care-tooltip">
    <svg class="exclaimation-icon" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.002 5.50098C10.002 3.093 8.11043 1.12644 5.73242 1.00586L5.50098 1C3.01529 1 1 3.01529 1 5.50098L1.00586 5.73242C1.12256 8.03387 2.96802 9.87965 5.26953 9.99609L5.50098 10.002C7.90885 10.0018 9.87553 8.11037 9.99609 5.73242L10.002 5.50098ZM11.002 5.50098C11.0018 8.53875 8.53875 11.0018 5.50098 11.002C2.46309 11.002 0.000131939 8.53883 0 5.50098C0 2.46301 2.46301 0 5.50098 0C8.53883 0.000131942 11.002 2.46309 11.002 5.50098Z" fill="#7D2C34"/>
        <path d="M5.35817 3.76664C5.15735 3.76664 4.98824 3.70195 4.85083 3.57256C4.71871 3.43799 4.65265 3.27237 4.65265 3.0757C4.65265 2.87903 4.71871 2.716 4.85083 2.58661C4.98824 2.45205 5.15735 2.38477 5.35817 2.38477C5.559 2.38477 5.72547 2.45205 5.85759 2.58661C5.99499 2.716 6.06369 2.87903 6.06369 3.0757C6.06369 3.27237 5.99499 3.43799 5.85759 3.57256C5.72547 3.70195 5.559 3.76664 5.35817 3.76664ZM4.80327 8.26938C4.70286 8.26938 4.62095 8.24609 4.55753 8.19951C4.49411 8.14776 4.4624 8.07012 4.4624 7.96661V7.66384C4.4624 7.56033 4.49411 7.48528 4.55753 7.4387C4.62095 7.38695 4.70286 7.36107 4.80327 7.36107H4.95389V5.29602H4.80327C4.70286 5.29602 4.62095 5.27273 4.55753 5.22615C4.49411 5.17439 4.4624 5.09676 4.4624 4.99325V4.69048C4.4624 4.48863 4.57603 4.38771 4.80327 4.38771H5.68319C5.78888 4.38771 5.87608 4.42135 5.94479 4.48863C6.01349 4.55591 6.04784 4.64131 6.04784 4.74482V7.36107H6.19053C6.29622 7.36107 6.38078 7.38695 6.4442 7.4387C6.50762 7.48528 6.53933 7.56033 6.53933 7.66384V7.96661C6.53933 8.07012 6.50762 8.14776 6.4442 8.19951C6.38078 8.24609 6.29622 8.26938 6.19053 8.26938H4.80327Z" fill="#7D2C34"/>
    </svg>
    <span>Special Care</span>
    <div class="special-care-tooltip-content">
       {{ settings.special_leather_tooltip_copy }}
       <a href="{{ page_link_out }}" target="_blank" class="button">Learn More</a>
    </div>
</div>