{% assign page_link_out = settings.special_leather_tooltip_link %}

{% if settings.special_leather_tooltip_linkout_anchor %}
    {% assign page_link_out = page_link_out.url | append: settings.special_leather_tooltip_linkout_anchor %}
{% endif %}

<div class="special-care-tooltip">
    {% render 'icon-exclamation' %}
    <span>Special Care</span>
    <div class="special-care-tooltip-content">
       {{ settings.special_leather_tooltip_copy }}
       <a href="{{ page_link_out }}" target="_blank" style="background-color: black; padding: 0.35em 0.5rem; color: white; text-decoration:none;">Learn More</a>
    </div>
</div>