<div class="group">
    {% content_for "blocks" %}
</div>

{% schema %}
{
    "name": "Visual Nav Group",
    "settings": [

    ],
    "blocks": [
        {
            "type": "@theme"
        }
    ],
    "presets": [
        {
            "name": "Visual Nav Group"
        }
    ]
}

{% endschema %}