<details id="Details-cart-drawer-container" class="cart-drawer-container">
  <summary  class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
    <div id="cart-icon-bubble">
      <span>
        {%- liquid
              if cart == empty
                render 'icon-cart-empty'
              else
                render 'icon-cart'
              endif
            -%}
      </span>
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      {%- if cart != empty -%}
      <div class="cart-count-bubble">
        {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </div>
      {%- endif -%}
    </div>
  </summary>
  <div id="cart-drawer" class="cart-drawer motion-reduce" tabindex="-1">
    {%- render 'cart-drawer', cart: cart -%}
  </div>
</details>

{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type":"product",
      "id":"gift_wrapping_product",
      "label":"Gift Product"
    },
    {
      "type":"checkbox",
      "id":"enable_gift_wrapping",
      "label":"Enable Gift wrapping?"
    }
  ]
}
{% endschema %}

