<details id="Details-cart-drawer-container" class="cart-drawer-container">
  <summary  class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
    <div id="cart-icon-bubble">
      <span>
        {%- liquid
              if cart == empty
                render 'icon-cart-empty'
              else
                render 'icon-cart'
              endif
            -%}
      </span>
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      {%- if cart != empty -%}
      <div class="cart-count-bubble">
        {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </div>
      {%- endif -%}
    </div>
  </summary>
  <div id="cart-drawer" class="cart-drawer motion-reduce" tabindex="-1">
    {%- render 'cart-drawer', cart: cart, section: section -%}
  </div>
</details>

{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type":"product",
      "id":"gift_wrapping_product",
      "label":"Gift Product"
    },
    {
      "type":"checkbox",
      "id":"enable_gift_wrapping",
      "label":"Enable Gift wrapping?"
    },
    {
      "type": "header",
      "content": "Complimentary Gift Box"
    },
    {
      "type": "text",
      "id": "complimentary_gift_box_title",
      "label": "Complimentary Gift Box Title",
    },
    {
      "type": "richtext",
      "id": "complimentary_gift_box_text",
      "label": "Complimentary Gift Box Text",
    }
  ],
  "blocks": [
    {
      "type": "empty_cart",
      "name": "Empty Cart",
      "limit": 1,
      "settings": [        
        {
          "type": "header",
          "content": "Buttons 1"
        },
        {
          "type": "checkbox",
          "id": "show_cta_1",
          "default": true,
          "label": "Show CTA"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button Link"
        },
        {
          "type": "paragraph",
          "content": "Button style"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "Button variation",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "Outline",
              "label": "Outline"
            }
          ]
        },
        {
          "type":"color",
          "id":"button_bg_color_1",
          "label":"Background Color",
          "info": "If button style is Outline then this settings works as border color",
        },
        {
          "type":"color",
          "id":"button_text_color_1",
          "label":"Text Color"
        },
        {
          "type": "header",
          "content": "Buttons 2"
        },
        {
          "type": "checkbox",
          "id": "show_cta_2",
          "default": true,
          "label": "Show CTA"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button Link"
        },
        {
          "type": "paragraph",
          "content": "Button style"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "Button variation",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "Outline",
              "label": "Outline"
            }
          ]
        },
        {
          "type":"color",
          "id":"button_bg_color_2",
          "label":"Background Color",
          "info": "If button style is Outline then this settings works as border color",
        },
        {
          "type":"color",
          "id":"button_text_color_2",
          "label":"Text Color"
        },
        {
          "type": "header",
          "content": "Buttons 3"
        },
        {
          "type": "checkbox",
          "id": "show_cta_3",
          "default": false,
          "label": "Show CTA"
        },
        {
          "type": "text",
          "id": "button_label_3",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_3",
          "label": "Button Link"
        },
        {
          "type": "paragraph",
          "content": "Button style"
        },
        {
          "type": "select",
          "id": "button_style_3",
          "label": "Button variation",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "Outline",
              "label": "Outline"
            }
          ]
        },
        {
          "type":"color",
          "id":"button_bg_color_3",
          "label":"Background Color",
          "info": "If button style is Outline then this settings works as border color",
        },
        {
          "type":"color",
          "id":"button_text_color_3",
          "label":"Text Color"
        },
        {
          "type": "header",
          "content": "Buttons 4"
        },
        {
          "type": "checkbox",
          "id": "show_cta_4",
          "default": false,
          "label": "Show CTA"
        },
        {
          "type": "text",
          "id": "button_label_4",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_4",
          "label": "Button Link"
        },
        {
          "type": "paragraph",
          "content": "Button style"
        },
        {
          "type": "select",
          "id": "button_style_4",
          "label": "Button variation",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "Outline",
              "label": "Outline"
            }
          ]
        },
        {
          "type":"color",
          "id":"button_bg_color_4",
          "label":"Background Color",
          "info": "If button style is Outline then this settings works as border color",
        },
        {
          "type":"color",
          "id":"button_text_color_4",
          "label":"Text Color"
        },
        {
          "type": "header",
          "content": "Multiple column"
        },
        {
          "type": "paragraph",
          "content": "Column 2"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link 1"
        },
        {
          "type": "range",
          "id": "overlay_opacity_1",
          "label": "Text protection 1",
          "info": "Darkens your image to ensure your text is readable",
          "default": 0,
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "px"
        },
        {
          "type": "textarea",
          "id": "title_1",
          "label": "Heading 1",
          "default": "Bring your\nbrand to life."
        },
        {
          "type": "range",
          "id": "title_size_1",
          "label": "Heading text size 1",
          "default": 16,
          "min": 10,
          "max": 30,
          "unit": "px"
        },
        {
          "type":"color",
          "id":"column_bg_color_1",
          "label":"Overlay Color 1",
        },
        {
          "type":"color",
          "id":"text_color_1",
          "label":"Text Color 1"
        },
        {
          "type": "paragraph",
          "content": "Column 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link 2"
        },
        {
          "type": "range",
          "id": "overlay_opacity_2",
          "label": "Text protection 2",
          "info": "Darkens your image to ensure your text is readable",
          "default": 0,
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "%"
        },
        {
          "type": "textarea",
          "id": "title_2",
          "label": "Heading 2",
          "default": "Bring your\nbrand to life."
        },
        {
          "type": "range",
          "id": "title_size_2",
          "label": "Heading text size 2",
          "default": 16,
          "min": 10,
          "max": 30,
          "unit": "px"
        },
        {
          "type":"color",
          "id":"column_bg_color_2",
          "label":"Overlay Color 2",
        },
        {
          "type":"color",
          "id":"text_color_2",
          "label":"Text Color 2"
        },
        {
          "type": "paragraph",
          "content": "Column 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link 3"
        },
        {
          "type": "range",
          "id": "overlay_opacity_3",
          "label": "Text protection 3",
          "info": "Darkens your image to ensure your text is readable",
          "default": 0,
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "%"
        },
        {
          "type": "textarea",
          "id": "title_3",
          "label": "Heading 3",
          "default": "Bring your\nbrand to life."
        },
        {
          "type": "range",
          "id": "title_size_3",
          "label": "Heading text size 3",
          "default": 16,
          "min": 10,
          "max": 30,
          "unit": "px"
        },
        {
          "type":"color",
          "id":"column_bg_color_3",
          "label":"Overlay Color 3",
        },
        {
          "type":"color",
          "id":"text_color_3",
          "label":"Text Color 3"
        },
        {
          "type": "paragraph",
          "content": "Column 4"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Link 4"
        },
        {
          "type": "range",
          "id": "overlay_opacity_4",
          "label": "Text protection 4",
          "info": "Darkens your image to ensure your text is readable",
          "default": 0,
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "%"
        },
        {
          "type": "textarea",
          "id": "title_4",
          "label": "Heading 4",
          "default": "Bring your\nbrand to life."
        },
        {
          "type": "range",
          "id": "title_size_4",
          "label": "Heading text size 4",
          "default": 16,
          "min": 10,
          "max": 30,
          "unit": "px"
        },
        {
          "type":"color",
          "id":"column_bg_color_4",
          "label":"Overlay Color 4",
        },
        {
          "type":"color",
          "id":"text_color_4",
          "label":"Text Color 4"
        }
      ]
    },
    {
      "type": "gift_box_video",
      "name": "Gift Box Video",
      "settings": [           
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    },
    {
      "type": "gift_box_imgage",
      "name": "Gift Box Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "cart_upsell",
      "name": "Cart Upsell",
      "settings": [           
        {
          "type":"text",
          "id":"title",
          "label":"Heading"
        },
        {
          "type":"collection",
          "id":"collection",
          "label":"Collection"
        }
      ]
    }
  ]
}
{% endschema %}

