{%- if predictive_search.performed -%}
  <div class="x-gen-predictive-search-results">
      <div id="x-gen-predictive-search-results-container">
        {% comment %} results go here {% endcomment %}
      </div>
      <div class="suggested-searches">
        {% comment %} 
          use JS to populate the elements in this section
        {% endcomment %}
        <h4>Most popular Searches</h4>
        <ul class="suggested-searches-list">
          {% comment %} loop through block for suggested {% endcomment %}
        </ul>
      </div>
  </div>
{%- endif -%}