.js cart-drawer > details > summary::before,
.js cart-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: fixed;
  cursor: default;
  width: 100%;
  height: 100vh !important;
  top: 0 !important;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: opacity 0s, visibility 0s;
}

cart-drawer {
  overflow: hidden;
}

#cart-drawer {
  max-width: 60%;
}

@media screen and (max-width: 571px) {
  #cart-drawer {
    width: 100%;
    max-width: none;
  }
}

cart-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease,
  visibility var(--duration-default) ease;
  
}

.cart-drawer {
  position: fixed;
  transform: translateX(100%);
  visibility: hidden;
  z-index: 3;
  right: 0rem;
  top: 0rem;
  width: calc(100vw - 4rem);
  padding: 0;
  border-width: 0 var(--drawer-border-width) 0 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  box-shadow: 0 0 150px rgb(0 0 0 / 10%);
  transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset)
    var(--drawer-shadow-vertical-offset)
    var(--drawer-shadow-blur-radius)
    rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.drawer__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.js .cart-drawer {
  height: 100%; 
  border-radius: var(--buttons-radius);
  
}

.js details[open] > .cart-drawer,
.js details[open] > .cart-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .cart-drawer,
.js details[open].menu-opening > .cart-drawer {
  transform: translateX(0);
  visibility: visible;
}

@media screen and (min-width: 750px) {
  .cart-drawer {
    width: 40rem;
  }

  .no-js .cart-drawer {
    height: auto;
  }
}

.drawer__header {
  text-align: center;
  border-bottom: 1px solid #e8e8e1;
}

/* 
  Reset cart paddings. There are multiple instances of CSS classes throughout many files.
  Instead of editing them all, we will override them here and then add padding to the parent element.
*/

.drawer__header,
.drawer__header h4,
.drawer__final,
.drawer__items {
  padding: 0 10px !important;
}

.drawer__items:has(.drawer_empty) {
  padding: 0 !important;
}

.drawer__content h4 {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 600;
  padding: 0px 10px;
}

.drawer__title{
  margin:0;
}
.drawer__close{
  margin:0;
  padding:0;
  border:none;
  background-color:transparent;
  cursor:pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' role='presentation' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z'/%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  right: 10px;
}
.drawer__content{
  position:relative;
  flex-grow:1;
  padding-top:0;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height: 100%;
}
.drawer__items{
  overflow-y:auto;
  flex-grow: 1;
}
.drawer__content-items{
  margin:0;
  list-style:none;
  margin:0;
  padding:0
}
.drawer__content-items .drawer__content-item{
  display:flex;
  padding-top: 1rem;
  padding-bottom:1rem;
  margin-bottom:0rem !important;
  gap:15px;
  border-bottom: none;
}
.drawer__content-item-image{
  width: 63px;
  height: 63px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.drawer__content-item-image img{
  height:auto;
  width: 100%;
  text-align:center;
}
.drawer_product-info{
  margin:0;
  margin-bottom: 0rem;
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.drawer__content-item-info{
  flex-direction:column;
  flex:1 1 0%;
  display:flex;
  margin-bottom:0rem;
  justify-content:space-between;
  gap: 0.15rem;
}
.drawer__content-item-top{
  display:flex;
  justify-content:space-between;
  align-items:center
}
.drawer__content-item-price,
.drawer__content-item-tprice h3,.drawer__content-item-vtitle{
  margin:0
}


.drawer__content-item-and-price{
  display:flex;
  justify-content: space-between;
}

.drawer__items span.price.price--end{
  margin:0;
  font-weight: 600;
  line-height: 1;
  font-size: 14px;
}

.drawer__content-item-qremove{
  display:flex;
  justify-content:space-between;
  align-items:center
}
.drawer__content-item-remove{
  background:0 0;
  color:inherit;
  border:none;
  padding:0;
  font:inherit;
  cursor:pointer;
  outline:inherit
}
.drawer__content-quantity{
  display:flex;
  align-items:center;
  margin-top:5px
}
.drawer__content-quantity-button{
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid #ebebeb;
  padding:0 5px;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.drawer__content-quantity-number{
  width:30px;
  height:30px;
  margin:0;
  text-align:center;
  background-color:#fff;
  border:none;
  border-bottom:1px solid #ebebeb;
  border-top:1px solid #ebebeb;
  outline:0;
  -moz-appearance:textfield;
  text-align:center
}
.drawer_content-minus{
  border-right:none
}
.drawer_content-plus{
  border-left:none
}
.drawer__final{
  border-top:1px solid #efefef;
  width: 100%;
  background: white;
  z-index: 3;
}
.drawer__subtotal{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.drawer__subtotal h3,.drawer__subtotal p{
  margin:0
}
.drawer__notification{
  margin-bottom:12px;
  text-align: center;
}
.drawer__continue{
  text-align:center;
  margin-bottom:0;
  margin-top:12px
}
.drawer__continue button{
  background:0 0;
  color:inherit;
  border:none;
  padding:0;
  font:inherit;
  cursor:pointer;
  outline:inherit
}
button[aria-disabled="true"] {
  pointer-events: none;
}
.checkout-path{
  stroke: rgb(var(--color-button-text)) !important;
    }
.drawer__content-items .loading-overlay {
  position: relative;
}

#cart-icon-bubble > * {
  pointer-events: none;
}

.cart-drawer-upsell{
  margin-top: 1.5rem;
}

.cart-upsell__info {
  padding-left: 1.5rem;
}

.ajaxcart--bundle__image img {
  width: 100%;
}
.ajaxcart--bundle__images {
  margin-left: -24px;
  margin-right: -24px;
  width: auto;
}
.bundle--cart-title {
  display: flex;
  justify-content: space-between;
}

.bundle--cart-remove {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 15px;
  height: 15px;
  background: 0;
  border: 0;
  cursor: pointer;
}
.bundle--cart-remove svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cart-announcement-bar {
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.cart-drawer-upsells .upsell {
  width: auto !important;
  max-width: 125px !important;
}

.swiper upsell-item.cts {
  margin-right: 9px !important;
}

.drawer__content-item-actions{
  /* min-height: 60px; */
  justify-content: space-between;
}

.cart_shipping_notes {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  max-width: 290px;
  margin: auto;
  padding:10px 10px 0;
}

.emptyDrawerSection .drawer__items {
  padding-bottom: 0;
}
.drawer__title {
  text-align: left;
  font-family: Sofia Pro;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0;
  display: grid;
  gap: 0.8rem;
}                          
.buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 30px;
  margin-top: 20%;
}
.flex-wrapper {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
.multicolumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 0;
  width: 100%;
}

.multicolumns-image {
  padding-bottom: 100%;
  height: 0;
  position: relative;
}
.multicolumns .multicolumns-image img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  object-fit: cover;
}
.drawer_empty,
.drawer_empty .appear-animation.appear-delay-2 {
  height: 100%;
}
a.multicolumns-link {
  position: relative;
  display: block;
}
a.multicolumns-link .multicolumns-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
.multicolumns-content .overlayMulticolumns {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
a.multicolumns-link .multicolumns-content h4 {
  padding: 15px 0;
  margin: 0;
  text-transform: capitalize;
  position: relative;
  font-weight: bold;
  line-height: 1;
}
a.multicolumns-link .multicolumns-content h4.pb-0 {
  padding-bottom: 0;
}
.multicolumns--subheading {
  margin: 0;
  text-transform: capitalize;
  line-height: 1;
}
.drawer__final.drawerEmptyState {
  padding: 0;
}
.multicolumns-image {
  padding-bottom: 100%;
  height: 0;
  position: relative;
}
.btn--Solid ,
.btn--Outline {
  text-transform: capitalize;
  height: 53px;
  font-size: 14px;
}

.freeShippingMsgContainer {
  height: 6px;
  border-radius: 100px;
  background: #ddd;
  margin-top: 10px;
  position: relative;
}
/* .menu-opening .appear-animation {
  opacity: 1;
  transform: translateY(0);
}
.appear-animation {
  opacity: 0;
  transform: translateY(60px);
} */
span.freeRemainShippingMsg,
.freeShippingMsg {
  position: absolute;
  background: #316124;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 100px;
  transition: width 1s cubic-bezier(.165,.84,.44,1) .1s, opacity 1s cubic-bezier(.165,.84,.44,1) .2s;
}

/* .appear-delay-2 {
  transition: transform 1s cubic-bezier(.165,.84,.44,1) .1s, opacity 1s cubic-bezier(.165,.84,.44,1) .2s;
} */

.progress-bar {
  height: 4px;
  border-radius: var(--progress-bar-radius, 3rem);
  background-color: rgba(0,0,0, .075);
  position: relative;
  overflow: hidden;
  display: block;
  color: rgb(13,135,86);
}

.jr-temp-single-gwp .progress-bar:before {
  width: 0%;
}

.progress-bar:before {
  --scale-x: 0;
  content: "";
  background: #316124;
  border-radius: inherit;
  display: block;
  height: 100%;
  width: var(--scale-x);
  transition: width .6s cubic-bezier(.7,0,.3,1) .1s;
}

.free-shipping-goal .progress-bar:before, cart-drawer[open] .free-shipping-goal .progress-bar:before {
  --scale-x: var(--percent);
}
.free-shipping-goal__label--success {
  display: none;
}
.free-shipping-goal--done .free-shipping-goal__label--default {
  display: none;
}
.free-shipping-goal--done .free-shipping-goal__label--success {
  display: block;
}
gift-box-section {
  display: block;
  position: relative;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none !important;
  margin-bottom: 1.5rem;
}
.gift-box-image,
.gift-box-video {
  position: relative;
}
.gift-box-image:before,
.gift-box-video::before {
  content: '';
  padding-bottom: 70%;
  display: block;
}
.gift-box-image img,
.gift-box-video video{
  max-width: 100%;
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
gift-box-section .swiper-button-next,
gift-box-section .swiper-button-prev {
  position: absolute;
  top: 55% !important;
  transform: translate(0px, -50%);
  display: block;
  width: 25px;
  height: 25px;
}
gift-box-section h4 {
  font-family: Sofia Pro;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  margin-bottom: 12px !important;
  padding: 0 !important;
}
gift-box-section .gift-box-content {
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
  margin-top: 7px;
}

gift-box-section .cart__gift--notes {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
gift-box-section .cart__gift--notes label {
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}
gift-box-section #cart__gift--check {
  width: 12px;
  height: 12px;
  margin-left: 0px;
}

gift-box-section .swiper-button-next {
  right: 0px !important;
}
gift-box-section .swiper-button-prev {
  left: 0px !important;
}
gift-box-section .swiper-button-next::after, 
gift-box-section .swiper-button-prev::after{
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}

.drawer__notification p {
  font-family: Sofia Pro;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
}

gift-box-section .swiper:not(.swiper-initialized) .swiper-slide {
  max-width: calc(50% - 4px);
  width: calc(50% - 4px);
  margin-right: 9px;
}
.cart-item__name {font-size: 14px;font-weight: 600;    line-height: 1.2;}
.product-option.product-properties__option,
.product-option {font-size: 12px;    margin-top: 0;}

cart-upsells .tab-item__upsell ul {
  display: flex;
  align-items: center;
  padding: 0 0 15px;
  margin: 15px 0px 0px;
  gap: 25px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

cart-upsells .tab-item__upsell ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
cart-upsells .tab-item__upsell ul li a{
  font-family: Sofia Pro;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  color: #000;
  text-decoration: none;
}
cart-upsells .tab-item__upsell ul li.tab-item.active a {
  text-decoration: underline;
  font-weight: 600;
}

cart-upsells .tab-item__upsell ul li.tab-item a,
cart-upsells .tab-item__upsell ul li.tab-item.active a,
cart-upsells .upsell__title {
  letter-spacing: 0 !important;
}

cart-upsells .tab-item__upsell ul li.tab-item a {
  font-weight: 500;
}
cart-upsells .loading-overlay {right: 0;  margin: auto;}
cart-upsells .upsell__title {font-size: 12px;line-height: 1.2; font-weight: 600;}
cart-upsells .upsell__price {font-family: Sofia Pro;font-weight: 400;font-size: 12px;line-height: 22px;letter-spacing: 1.2;margin-top: 5px; display: block;}
/* cart-upsells .swiper-wrapper {  min-height: 240px;} */
.drawer__content-items .drawer__content-item:last-child {border-bottom: 0 !important;}
cart-upsells .upsell__image {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
cart-upsells .upsell__image:after {
  content: '';
  padding-bottom: 100%;
  display: block;
}
cart-upsells .upsell__image img {
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}
.cart-drawer-btn {
  height: 40px;
  line-height: 1;
}

a:has(.upsell__title) {
  color: black;
  text-decoration: none;
}

cart-upsells .upsell__image .icon-plus {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

gift-box-section .swiper.gift-box--swiper {
  position: relative;
}
gift-box-section .swiper.gift-box--swiper button.btn-expanded {
    position: absolute;
    z-index: 9;
    right: 5px;
    border: 0;
    background: transparent;
    top: 7px;
    cursor: pointer;
    opacity: 0;
    margin-top: 1rem;
}
gift-box-section .active-full.gift-box--swiper button.btn-expanded {
  opacity: 1;
}
gift-box-section .swiper-slide {
    transition: width 100ms;
    cursor: pointer;
}
.dynamic-checkout__content {
  height: 60px;
  overflow: hidden;
}
/* 
.os-macOs shopify-paypal-button,
.os-macOs shopify-google-pay-button,
.os-macOs.browser-safari shop-pay-wallet-button,
.os-android shopify-paypal-button,
.os-android shop-pay-wallet-button,
.os-windows shopify-paypal-button,
.os-windows shopify-google-pay-button,
.os-iphone  shopify-paypal-button,
.os-iphone shopify-google-pay-button,
.os-iphone.browser-safari shop-pay-wallet-button{
  height: 0 !important;
  display: none !important;
  overflow: hidden;
}

div#dynamic-checkout-cart {
  height: 60px;
  overflow: hidden;
  position: relative;
} */

.drawer__items-inner {
  height: 100%;
}

/* Hammitt gift node css */

.hammitt-gift-note-area {
  display: flex;
  flex-direction: column;
}

hammitt-gift-note,
hammitt-box-opt-out {
  cursor: pointer;
}

.hammitt-gift-note-area .note-area-container {
  position: relative;
}

.hammitt-gift-note-area textarea {
  width: 100% !important;
  min-height: 90px;
  border: 1.5px solid black;
  border-radius: 2px;
}

.hammitt-gift-note-area #gift-note-char-limit,
.gift-note-char-limit {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #9e9e9e;
  z-index: 2;
  font-size: 12px;
}

.hammitt-gift-note-area #gift-note-save-button {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  border: 1.5px solid black;
  background-color: white;
  padding: 3px 6px;
  margin-left: auto;
  cursor: pointer;
}

.cart-drawer-gift-note {
  margin: 1rem 0;
  width: 100%;
}

.cart-drawer-gift-note .checkbox-message-area {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cart-drawer-gift-note .checkbox-message-area > div,
.cart-drawer-gift-box-opt-out {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkbox-message-area #hammitt-gift-message-checkbox {
  accent-color: black;
}

.cart-drawer-gift-note .hammitt-gift-note-area {
  display: none;
}

.cart-drawer-gift-note:has(#hammitt-gift-message-checkbox:checked) .hammitt-gift-note-area {
  display: flex;
}

.hammitt-gift-note-area #gift-note-save-button.saved,
.hammit-gift-note-area #gift-note-save-button:hover {
  color: white;
  background-color: black;
}

.hammit-checkbox-message {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  font-family: Sofia Pro;
}

.cart-item .quantity__input {
  padding: 0;
  width: 17px;
}

.cart-item .quantity__button {
  width: 18px;
}

.totals__subtotal,
.totals__subtotal-value {
  font-size: 16px;
  font-weight: 600;
}

.fake-cart-item {
  /* hidden for now */
  display: none !important;
}

.drawer__content:has(#hammitt-box-opt-out-checkbox:checked) .fake-cart-item {
  display: none;
}

#hammitt-box-opt-out-checkbox {
  accent-color: black;
  pointer-events: none;
}

.remove-button-container {
  width: max-content;
}

.multiple-gifts-section {
  /* display: flex; */
  display: none; 
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #FFFAFA;
  border-radius: 10px;
  padding: 1.25rem 0;
  margin: 1rem 0;
}

.multiple-gifts-section span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.multiple-gifts-section p {
  margin: 0;
  line-height: 1.2;
}

.multiple-gifts-section span p {
  font-weight: 600;
  color: black;
  font-size: 11px;
}

.multiple-gifts-section p:not(span p) {
  font-size: 11px;
  font-weight: 400;
  color: #676767;
  max-width: 87%;
  margin: 0 auto;
}


