/* This file is for CSS that is critical in preventing CLS on page load. Base.css loads after a lot of markup has alredy loaded. */

#yotpo-star-rating-highly-rated-topics {
    background: transparent !important;
    padding: 1rem 0 !important;
}
.yotpo-star-rating-highly-rated-topics-text span {
    font-size: 14px !important
}

.shopify-section:has(fw-player) {
  height: 75vh;
}

.shopify-section:has(fw-player) > div,
.shopify-section:has(fw-player) > div > div,
.shopify-section:has(fw-player) .fwmobile,
.shopify-section:has(fw-player) .fwdesktop  {
    min-height: 100%;
    height: 100%;
}

.shopify-section:has(fw-player) fw-player {
    height: 100%;
}

.menu-drawer__navigation .menu-drawer__menu.list-menu.text-menu {
    display: none;
}
.menu-drawer__menu.list-menu.visual-menu.visual-ab {
    display: grid !important;
}
.beneath-visual-menu.visual-ab {
    display: block !important;
}

@media screen and (max-width: 768px) {
    .shopify-section:has(fw-player) {
        height: 55vh;
    }
}


/* jr review section */

.jr-customer-reviews {
  overflow: hidden;
}


.jr-customer-reviews .card-img-container img {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}

.jr-customer-reviews .star-img-container img {
  width: 100%;
  height: 100%;
  max-width: 110px;
}

.jr-customer-reviews .star-img-container {
  margin-top: 3rem;
}

.jr-customer-reviews .review-card-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: drag;
}

.jr-customer-reviews .review-card {
  text-decoration: none;
}

.jr-customer-reviews .review-content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.jr-customer-reviews .review-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.jr-customer-reviews .review-content h5 {
  font-weight: 500;
  font-size: 14px;
}

.jr-customer-reviews .swiper-scrollbar {
    height: 4px;
}

.jr-customer-reviews .swiper-scrollbar-drag {
    display: block !important;
}

@media screen and (max-width: 768px) {
  .jr-customer-reviews .review-content h3 {
    font-size: 14px;
    line-height: 18px;
  }

  .jr-customer-reviews .review-content p {
    font-size: 12px;
    line-height: 14px;
    max-width: 85%;
    margin: 0 auto important!;
  }

  .jr-customer-reviews .review-content h5 {
    font-size: 12px;
    line-height: 14px;
  }
  .jr-customer-reviews .star-img-container {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1;
  }
  .jr-customer-reviews .review-content h3,
  .jr-customer-reviews .review-content h5,
  .jr-customer-reviews .review-content p  {
    margin: 0.5rem 0rem;
  }
  .jr-customer-reviews .review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 561px) {
  li.slide-peek--true {
    width: 85% !important;
    max-width: 85% !important;
  }
}

.grid__item:has(.num-slots-1) {
  width: calc(25% - 9px) !important;
  max-width: calc(25% - 9px) !important;
}

.grid__item:has(.num-slots-2) {
  width: calc(50% - 9px) !important;
  max-width: calc(50% - 9px) !important;
}

.merch-box {
  position: relative;
}

.merch-box h3 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.merch-box .content-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 6%;
}

.merch-box .content-container.y-alignment--start {
  justify-content: start;
} 

.merch-box .content-container.y-alignment--center {
  justify-content: center;
}

.merch-box .content-container.y-alignment--end {
  justify-content: end;
}

.merch-box .content-container.x-alignment--start {
  align-items: start;
} 

.merch-box .content-container.x-alignment--center {
  align-items: center;
}

.merch-box .content-container.x-alignment--end {
  align-items: end;
}

.merch-box,
.merch-box .img-container,
.merch-box .media-container,
.merch-box img,
.merch-box video   {
  height: 100%;
  width: 100%;
}

.merch-box img,
.merch-box video  {
  object-fit: cover;
  vertical-align: bottom;
}

.merch-box .media-container{
  position: relative;
  z-index: 1;
}

.merch-box .merch-button {
  padding: 0.55rem 1.5rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.merch-box .content-container:after {
  display: none;
}

#MainContent:has(.grid-view) .grid__item:has(.merch-box){
  display: none;
}

.merch-box.use-bottom-text {
  display: flex;
  flex-direction: column;
}

.merch-box.use-bottom-text .content-container {
  position: relative;
  height: auto;
}

.merch-box.use-bottom-text h3 {
  font-size: 14px;
}
.merch-box.use-bottom-text .merch-button {
  font-size: 14px;
}

.merch-box.num-slots-2 .img-container img {
  aspect-ratio: auto;
}


@media screen and (max-width: 989px) {
  .grid__item:has(.num-slots-1) {
    width: calc(50% - 9px) !important;
    max-width: calc(50% - 9px) !important;
  }
  
  .grid__item:has(.num-slots-2) {
    min-width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .merch-box h3 {
    font-size: 14px;

  }
  .merch-box .merch-button {

    font-size: 14px;
  }
  .merch-box .content-container {
    padding: 4% 3%;
  }
  .merch-box img,
  .merch-box video {
    aspect-ratio: 8 / 5;
  }
}

.product-collapse-container {
  display: flex;
  flex-direction: column;
}

.product-collapse-container [data-access-attribute="care"] {
  order: 0;
}

.product-collapse-container:has([data-access-attribute="care"]) .product__accordion:not([data-access-attribute="care"]) {
  order: 1;
}

.special-care-tooltip {
  display: inline-block;
  position: relative;
}

.special-care-tooltip .exclaimation-icon {
  height: 11px;
  width: 11px;
}

@media screen and (max-width: 768px) {
  minty-fresh-filters ul li {
    order: 1;
  }
  minty-fresh-filters ul li:has(.on-collection) {
    order: 0;
  }
}

