hammitt-gifting-options-drawer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 4;
    top: 0;
    right: -100%;
    transition: 0.3s ease-in-out;
    padding: 10px;
}

hammitt-gifting-options-drawer .header-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

hammitt-gifting-options-drawer #close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px 5px 0px;
}

hammitt-gifting-options-drawer #close-btn svg {
    height: 15px;
}

hammitt-gifting-options-drawer.active {
    right: 0;
}

hammitt-gifting-options-drawer:has(.spinner.active) .loading-spinner-container {
    display: flex;
}

hammitt-gifting-options-drawer .loading-spinner-container {
    display: none;
}

hammitt-gifting-options-drawer .loading-spinner-container,
hammitt-gifting-options-drawer .loading-spinner-container-inner-bg {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

hammitt-gifting-options-drawer .loading-spinner-container-inner-bg {
    display: flex !important;
    background-color: white;
    opacity: 0.6;
}

hammitt-gifting-options-drawer:has(.spinner.active) {
    pointer-events: none;
}

hammitt-gifting-options-drawer .spinner {
    position: abolsolute;
    width: 50px;
    height: 50px;
    display: none;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

hammitt-gifting-options-drawer .spinner.active {
    display: block;
}

hammitt-gifting-options-drawer-trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    margin-top: 15px;
}

hammitt-gifting-options-drawer-trigger button {
    padding: .25rem 1.25rem;
    border: none;
    background: black;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

hammitt-gifting-options-drawer p,
hammitt-gifting-options-drawer-trigger p,
hammitt-gifting-options-drawer .checkbox-container label,
hammitt-gifting-options-drawer h5  {
    font-size: 14px;
    margin: 0;
    line-height: 130%;
    font-weight: 400;
    font-family: sofia pro;
}

hammitt-gifting-options-drawer .broken-out-line-item {
    margin-bottom: 15px;
}

hammitt-gifting-options-drawer .broken-out-line-items {
    margin: 2rem 0 0;
    list-style: none;
    padding: 0;
    max-height: 85vh;
    overflow: auto;
    padding-bottom: 2rem;
}

@media screen and (max-width: 751px) {
    hammitt-gifting-options-drawer .broken-out-line-items {
        padding-bottom: 15rem;
    }
}

hammitt-gifting-options-drawer hammitt-gifting-broken-out-line-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2rem;
    margin-bottom: 0.5rem;
}

hammitt-gifting-options-drawer .broken-out-line-items li img {
    width: 90px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

hammitt-gifting-options-drawer h5 {
    color: #4D4D4D;
    text-transform: capitalize;
}

hammitt-gifting-options-drawer .broken-out-line-item-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    width: 100%;
}

hammitt-gifting-options-drawer .broken-out-line-item-info-container h6 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

hammitt-gifting-options-drawer .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

hammitt-gifting-options-drawer .checkbox-container input[type="checkbox"] {
    margin: 0;
    accent-color: black;
    height: 13px;
    width: 13px;
    cursor: pointer;
}

.broken-out-line-item:has(.line-item-hand-written-note:checked) .hammitt-gift-note-area {
    display: flex;  
}

/* .broken-out-line-item:has(.no-box:checked) label[for="line-item-hand-written-note"],
.broken-out-line-item:has(.line-item-hand-written-note:checked) label[for="no-box"] {
    opacity: 0.4;
} */

/* 
.broken-out-line-item:has(#line-item-hand-written-note:checked) #no-box
.broken-out-line-item:has(#no-box:checked) line-item-hand-written-note
*/


hammitt-gifting-options-drawer #save-btn {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    border: 1.5px solid black;
    background-color: #fff;
    padding: 3px 6px;
    margin-left: auto;
    cursor: pointer;
    transition: 300ms ease;
}

hammitt-gifting-options-drawer #save-btn[disabled] {
    opacity: 0;
    pointer-events: none;
}

hammitt-gifting-options-drawer #save-btn.saved,
hammitt-gifting-options-drawer #save-btn:hover {
    background-color: black;
    color: #fff;
}

.gifting-options-icon {
    margin-right: auto;
    margin-left: 1rem;
}

hammitt-gifting-options-drawer .excluded-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

hammitt-gifting-options-drawer .excluded-container span {
    font-weight: 600;   
    font-size: 10px;
}

hammitt-gifting-options-drawer .excluded-container .db-only {
    color: #C74141;
    /* background-color: #ffe3e3; */
    /* padding: 2px 10px; */
}

gifting-tooltip-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2rem !important;
}
gifting-tooltip-container .learn-more {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

gifting-tooltip-container .heading-container {
    font-size: 13px;
    line-height: 1.3;
}

gifting-tooltip-container p {
    margin: 0.5rem 0;
    line-height: 1.3;
}

gifting-tooltip-container .close-btn {
    top: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

gifting-tooltip-container p,
gifting-tooltip-container li {
    font-size: 13px;
}

.gifting-tooltip-content {
    display: none;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 5;
    padding: 1rem 2rem;
    top: -10px;
    left: 0;
}

.gifting-tooltip-content .gifting-tooltip-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.gifting-tooltip-content .gifting-tooltip-copy {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gifting-tooltip-content img {
    max-width: 100%;
}

.gifting-tooltip-content.active {
    display: flex;
}

.gifting-tooltip-images .col {
    text-align: center;
    flex: 1;
}

[data-gift-wrap-only-no-note="true"] {
    display: none !important;
}