.product-reviews-slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 60px;
}

.product-reviews__image {
  max-width: 330px;
  width: 100%;
}
.product-reviews__content {
  max-width: 665px;
}

.product-reviews__image img {
  width: 100%;
}