#pwr-snippets {
  font-family:"sof",sans-serif!important;
  flex-grow: 1;
  margin-left: 3.5rem;
  position: relative;
  top: -4px;
}

#pwr-snippets .p-w-r {
  margin:0!important;
}

#pwr-snippets .pr-snippet-read-and-write {
  margin-top:2px!important;
}

#pwr-snippets .pr-snippet-review-count,#pwr-snippets .pr-snippet-write-review-link {
  color:#000;
  border-bottom-color:#000;
  font-family:"sof",sans-serif!important;
}

#pwr-snippets .pr-snippet-rating-decimal {
  padding-top:0;
  padding-bottom:0;
  display:none;
  font-family:"sof",sans-serif!important;
}

#pwr-snippets .pr-snippet-write-review-link {
  display:none!important;
}

#pwr-snippets .pr-rating-stars .pr-star-v4,#pr-reviewdisplay .pr-rating-stars .pr-star-v4 {
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  width:15px;
  height:15px;
}

#pwr-snippets .pr-rating-stars .pr-star-v4-0-filled,#pr-reviewdisplay .pr-rating-stars .pr-star-v4-0-filled {
  background-image:url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.0.3,SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16.6px' height='15.8px' viewBox='0 0 16.6 15.8' style='enable-background:new 0 0 16.6 15.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBD9D9;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon id='bg_1_' class='st0' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3C/svg%3E%0A");
}

#pwr-snippets .pr-rating-stars .pr-star-v4-25-filled,#pr-reviewdisplay .pr-rating-stars .pr-star-v4-25-filled {
  background-image:url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.0.3,SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16.6px' height='15.8px' viewBox='0 0 16.6 15.8' style='enable-background:new 0 0 16.6 15.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBD9D9;%7D .st1%7Bclip-path:url(%23bg_4_);%7D .st2%7Bclip-path:url(%23bg_5_);%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon id='bg_3_' class='st0' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3Cg%3E%3Cdefs%3E%3Cpolygon id='bg_2_' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3C/defs%3E%3CclipPath id='bg_4_'%3E%3Cuse xlink:href='%23bg_2_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Crect class='st1' width='5.6' height='15.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#pwr-snippets .pr-rating-stars .pr-star-v4-50-filled,#pr-reviewdisplay .pr-rating-stars .pr-star-v4-50-filled {
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16.6' height='15.8'%3E%3Cstyle%3E%3C/style%3E%3Cpath id='bg_3_' fill='%23dbd9d9' d='M8.3 0l2.6 5.2 5.7.8-4.1 4.1 1 5.7-5.2-2.7-5.1 2.7 1-5.7L0 6l5.8-.8z'/%3E%3Cdefs%3E%3Cpath id='bg_2_' d='M8.3 0l2.6 5.2 5.7.8-4.1 4.1 1 5.7-5.2-2.7-5.1 2.7 1-5.7L0 6l5.8-.8z'/%3E%3C/defs%3E%3CclipPath id='bg_4_'%3E%3Cuse xlink:href='%23bg_2_' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23bg_4_)' d='M0 0h8.3v15.8H0z'/%3E%3C/svg%3E");
}

#pwr-snippets .pr-rating-stars .pr-star-v4-75-filled,#pr-reviewdisplay .pr-rating-stars .pr-star-v4-75-filled {
  background-image:url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.0.3,SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16.6px' height='15.8px' viewBox='0 0 16.6 15.8' style='enable-background:new 0 0 16.6 15.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBD9D9;%7D .st1%7Bclip-path:url(%23bg_4_);%7D .st2%7Bclip-path:url(%23bg_5_);%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon id='bg_3_' class='st0' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3Cg%3E%3Cdefs%3E%3Cpolygon id='bg_2_' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3C/defs%3E%3CclipPath id='bg_4_'%3E%3Cuse xlink:href='%23bg_2_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Crect class='st1' width='11' height='15.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#pwr-snippets .pr-rating-stars .pr-star-v4-100-filled,#pr-reviewdisplay .pr-rating-stars .pr-star-v4-100-filled {
  background-image:url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.0.3,SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16.6px' height='15.8px' viewBox='0 0 16.6 15.8' style='enable-background:new 0 0 16.6 15.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBD9D9;%7D .st1%7Bclip-path:url(%23bg_4_);%7D .st2%7Bclip-path:url(%23bg_5_);%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon id='bg_3_' class='st0' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3Cg%3E%3Cdefs%3E%3Cpolygon id='bg_2_' points='8.3,0 10.9,5.2 16.6,6 12.5,10.1 13.5,15.8 8.3,13.1 3.2,15.8 4.2,10.1 0,6 5.8,5.2 '/%3E%3C/defs%3E%3CclipPath id='bg_4_'%3E%3Cuse xlink:href='%23bg_2_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Crect class='st1' width='16.6' height='15.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#pr-reviewdisplay .pr-snippet-rating-decimal,#pr-reviewdisplay .pr-review-snapshot-header,#pr-reviewdisplay .pr-review-snapshot-header-intro,#pr-reviewdisplay .pr-subheadline,#pr-reviewdisplay .pr-headline {
  display:none!important;
}
.p-w-r .pr-accessible-btn, .p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-review-snapshot-snippets .pr-snippet-read-and-write a {
  background: black !important;
  color: white !important;
  border-bottom: 0 !important;
}

#pr-reviewdisplay .pr-review-snapshot-simple {
  -webkit-justify-content:space-between;
  -ms-justify-content:space-between;
  justify-content:space-between;
}

#pr-reviewdisplay .pr-snippet-review-count,#pr-reviewdisplay .pr-snippet-rating-decimal,#pr-reviewdisplay .pr-rd-helpful-text {
  font-family:"sof",sans-serif!important;
}

#pr-reviewdisplay p,#pr-reviewdisplay h1,#pr-reviewdisplay .h1,#pr-reviewdisplay h2,#pr-reviewdisplay .h2,#pr-reviewdisplay h3,#pr-reviewdisplay .h3,#pr-reviewdisplay h4,#pr-reviewdisplay .h4,#pr-reviewdisplay a,#pr-reviewdisplay button {
  font-family:"sof",sans-serif!important;
}

#pr-reviewdisplay .pr-rd-sort {
  padding-top:4px!important;
  padding-bottom:0!important;
}

#pr-reviewdisplay a.pr-underline {
  color:#999;
}

#pr-reviewdisplay .pr-ratings-histogram-barValue {
  background:#000!important;
  display: block !important;
}

#pr-reviewdisplay #pr-question-form-link {
  background:#000!important;
  color:#fff!important;
  border-bottom:0!important;
  border-radius:0!important;
}

#pr-reviewdisplay #pr-question-form-link:hover {
  background:#333!important;
  color:#fff!important;
}

#pr-reviewdisplay .pr-snippet-write-review-link {
  color:#000;
}

#pr-reviewdisplay .pr-badging-icon svg circle {
  fill:#000;
}

#pr-reviewdisplay .pr-review {
  margin-bottom:0;
  padding:55px 0;
}

#pr-reviewdisplay .pr-review + .pr-review {
  border-top:1px solid #dfdfdf;
}

#pr-reviewdisplay .pr-rd-footer {
  padding-bottom:0;
  margin-bottom:0;
}

#pr-reviewdisplay .pr-rd-review-headline {
  margin-top:2px;
}

#pr-questiondisplay p,#pr-questiondisplay h1,#pr-questiondisplay .h1,#pr-questiondisplay h2,#pr-questiondisplay .h2,#pr-questiondisplay h3,#pr-questiondisplay .h3,#pr-questiondisplay h4,#pr-questiondisplay .h4,#pr-questiondisplay a,#pr-questiondisplay button {
  font-family:"sof",sans-serif!important;
}

#pr-questiondisplay .pr-qa-display-headline h1,#pr-questiondisplay .pr-qa-display-headline .h1 {
  margin-top:0!important;
}

@media only screen and (min-width: 960px) {
  #pr-questiondisplay #pr-question-form-link {
    background:#000!important;
    color:#fff!important;
    border-bottom:0!important;
    border-radius:0!important;
  }

  #pr-questiondisplay #pr-question-form-link:hover {
    background:#333!important;
    color:#fff!important;
  }
}

@media only screen and (max-width: 959px) {
  #pr-questiondisplay .pr-qa-display-text {
    color:#000;
  }
}

#pr-questiondisplay .pr-cross-icon {
  color:#000!important;
}

#pr-questiondisplay .pr-cross-icon .pr-cross-icon__group .pr-croll-icon__circle,#pr-questiondisplay .pr-cross-icon .pr-cross-icon__group .pr-cross-icon__line {
  stroke:#000;
}

.pr-snippet-stars-reco-reco {
  display: none !important;
}

.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-write, .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-container {
  display: inline-block;
}