.visit-our-store-wrapper img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.section-visit-our-store .visit-our-store-link{
    font-family: Sofia Pro;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    display: block;
    padding-top: 22px;
}
.visit-our-store-wrap {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
    padding-right: 0;
}
@media screen and (min-width: 750px) {
    .visit-our-store-wrap {
        padding: 0 5rem;
    }
}
@media screen and (max-width: 750px) {
    .section-visit-our-store .visit-our-store-link {
        text-align: left;
        padding-top: 14px;
    }
}