.product-recommendations {
  display: block;
  margin-top: 10px;
}

.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0 auto;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}
